.search-container {
  margin-top: 40px;
}

.nav-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fc-custom:focus {
  border: 1px solid black !important;
}
